name: CI

on:
  pull_request:
  push:
    branches: [main]
    paths-ignore:
    - '**.md'
    - '**.org'

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        emacs_version:
          - 25.1
          - 25.2
          - 25.3
          - 26.1
          - 26.2
          - 26.3
          - 27.1
          - snapshot
        include:
          - os: macos-latest
            emacs_version: 27.1
    steps:
    - uses: purcell/setup-emacs@master
      with:
        version: ${{ matrix.emacs_version }}

    - uses: actions/setup-go@v2

    - uses: actions/checkout@v2

    - name: Install git-validation
      run: |
        go get -u github.com/vbatts/git-validation

    - name: make ci
      run: make ci
